---
layout: common
title: Firefox Add-ons
page-class: front-page
facet-type: browse

top-exts:
  - Adblock Plus
  - Video DownloadHelper
  - NoScript
  - FlashGot
  - GreaseMonkey
  - Firebug
  - Personas Plus
  - DownloadThemAll!
  - Easy YouTube Video Downloader
  - Download Statusbar

featured-personas:
  -
    name: Colorful Fractal
    icon: persona-01.jpg
  -
    name: The Spirit of Autumn
    icon: persona-02.jpg
  -
    name: squaresincolors
    icon: persona-03.jpg
  -
    name: Space - wonderful world
    icon: persona-04.jpg
  -
    name: fractal seafoam gnarls
    icon: persona-05.jpg
  -
    name: Unrestricted Imagination
    icon: persona-06.jpg

featured-colls:
  -
    name: Web Developer's Toolbox
    icon: coll-01.png
    mini-desc: Speed up the development process by using add-ons to troubleshoot, ... edit, and debug web projects without ever clicking away from Firefox.
    desc: edit, and debug web projects without ever clicking away from Firefox.
    author: Mozilla
  -
    name: Traveler's Pack
    icon: coll-02.png
    mini-desc: When the travel bug bites, these add-ons make it easy to plan, ... book and document your trip -- without getting lost along the way.
    desc: and document your trip -- without getting lost along the way.
    author: Mozilla
  -
    name: Family Organizer
    icon: coll-03.png
    mini-desc: Create a safe and fun online experience while planning ... everything the family does offline with add-ons that keep the family cooking.
    desc: everything the family does offline with add-ons that keep the family cooking.
    author: Mozilla
  -
    name: Reference Desk
    icon: coll-04.png
    mini-desc: Make the librarian jealous with add-ons that help students, ... researchers or anyone with a tough question find and document all the answers.
    desc: researchers or anyone with a tough question find and document all the answers.
    author: Mozilla

---

<div id="proto-controls" class="initial">
	<div class="floating"><div>
		Show:
		<a href="#" data-class="non-firefox">Non-Firefox</a>
		<a href="#" data-class="first-run">First Run</a>
		<a href="#" data-class="small-screen">Small Screen</a>

		<a href="#" class="close">Close</a>
	</div></div>

	<div class="fixed"></div>
</div>


<div id="page-content"><div class="funnel">

{% include nav-sidebar.html %}

<div class="primary-col">
	<section id="promo-block" class="island deep">
		<div class="pager">
			<!--
			--><a class="prev" href="#" title="Previous page">Prev</a><!--
			--><a class="selected" href="#">1</a><!--
			--><a href="#">2</a><!--
			--><a href="#">3</a><!--
			--><a class="next" href="#" title="Next page">Next</a><!--
			-->
		</div>
		<a class="prev-promo" href="#">Prev</a>
		<a class="next-promo" href="#">Next</a>
	</section>
	
	<div class="secondary-col">
		<section id="top-list" class="extension-list-block">
			<header>
				<h2>
					Most Popular
					<a href="#">All &raquo;</a>
				</h2>
			</header>
			
			<ol class="extension-list">
				{% for ext in page.top-exts %}
					<li>
						<b>{{ forloop.index }}.</b>
						<a href="detail.html"><span></span> {{ ext }}</a>
						<span class="meta">9,999,999 users</span>
					</li>
				{% endfor %}
			</ol>
		</section>
	</div>
	
	<div class="primary-col">
		<section id="featured" class="island">
			<header>
				<h2>
					Featured Extensions
					<a href="#">See all &raquo;</a>
				</h2>
				
				<div class="pager">
					<!--
					--><a class="prev" href="#" title="Previous page">Prev</a><!--
					--><a class="selected" href="#">1</a><!--
					--><a href="#">2</a><!--
					--><a href="#">3</a><!--
					--><a class="next" href="#" title="Next page">Next</a><!--
					-->
				</div>
			</header>
			
			<div class="pages">
				<ul class="page">
					<!--
					--><li>
						<div class="extension">
							<div class="main">
								<p class="icon"><img src="static/img/icons/featured-01.png" /></p>
								<p class="title"><a href="detail.html">Tab Scope</a></p>
								<p class="category">Tabs</p>
								<p class="rating"><span class="rating-stars rating-4"></span> (30)</p>
							</div>

							<div class="more">
								<div class="install">
									<a class="button small install" href="#"><span>Add to Firefox</span></a>
								</div>
								
								<div class="desc">
									<p>
										Preview and navigate tab contents through popup.
									</p>
								</div>
								
								<div class="author">
									by <a href="#">Filiberto Mastrocola</a>
								</div>
								
								<div class="meta">
									<p class="users">
										9,999,999 users
									</p>
								</div>
							</div>
						</div>
					</li><!--
					
					--><li>
						<div class="extension">
							<div class="main">
								<p class="icon"><img src="static/img/icons/featured-02.png" /></p>
								<p class="title"><a href="detail.html">CyberSearch</a></p>
								<p class="category">Search Tools</p>
								<p class="rating"><span class="rating-stars rating-4"></span> (30)</p>
							</div>

							<div class="more">
								<div class="install">
									<a class="button small install" href="#"><span>Add to Firefox</span></a>
								</div>
								
								<div class="desc">
									<p>
										Adds advanced Google Search capabilities to the Firefox 3 address bar. Supercharge the "Awesome Bar" with instant search results that appear as you type!
									</p>
								</div>
								
								<div class="author">
									by <a href="#">Filiberto Mastrocola</a>
								</div>
								
								<div class="meta">
									<p class="users">
										9,999,999 users
									</p>
								</div>
							</div>
						</div>
					</li><!--
					
					--><li>
						<div class="extension">
							<div class="main">
								<p class="icon"><img src="static/img/icons/featured-03.png" /></p>
								<p class="title"><a href="detail.html">Pixlr Grabber</a></p>
								<p class="category">Photos, Music &amp; Videos</p>
								<p class="rating"><span class="rating-stars rating-4"></span> (30)</p>
							</div>

							<div class="more">
								<div class="install">
									<a class="button small install" href="#"><span>Add to Firefox</span></a>
								</div>
								
								<div class="desc">
									<p>
										Grabbing screens and pulling images from the web just got a bit easier. With the Pixlr Grabber add-on, you can copy, save, share or even edit your final grabs - including any image or background - with just a right-click.
									</p>
								</div>
								
								<div class="author">
									by <a href="#">Filiberto Mastrocola</a>
								</div>
								
								<div class="meta">
									<p class="users">
										9,999,999 users
									</p>
								</div>
							</div>
						</div>
					</li><!--
					
					--><li>
						<div class="extension">
							<div class="main">
								<p class="icon"><img src="static/img/icons/featured-04.png" /></p>
								<p class="title"><a href="detail.html">Xmarks Sync</a></p>
								<p class="category">Bookmarks</p>
								<p class="rating"><span class="rating-stars rating-4"></span> (30)</p>
							</div>
							
							<div class="more">
								<div class="install">
									<a class="button small install" href="#"><span>Add to Firefox</span></a>
								</div>
								
								<div class="desc">
									<p>
										NOTE: Xmarks lives! Learn more at http://blog.xmarks.com . Xmarks is the #1 bookmarking add-on. Keep your bookmarks, passwords and open tabs backed up and synchronized across computers and browsers.
									</p>
								</div>
								
								<div class="author">
									by <a href="#">Filiberto Mastrocola</a>
								</div>
								
								<div class="meta">
									<p class="users">
										9,999,999 users
									</p>
								</div>
							</div>
						</div>
					</li><!--
					
					--><li>
						<div class="extension">
							<div class="main">
								<p class="icon"><img src="static/img/icons/featured-05.png" /></p>
								<p class="title"><a href="detail.html">Stylish</a></p>
								<p class="category">Appearance</p>
								<p class="rating"><span class="rating-stars rating-4"></span> (30)</p>
							</div>

							<div class="more">
								<div class="install">
									<a class="button small install" href="#"><span>Add to Firefox</span></a>
								</div>
								
								<div class="desc">
									<p>
										Restyle the web with Stylish, a user styles manager. Stylish lets you easily install themes and skins for Google, Facebook, YouTube, Orkut, and many, many other sites. You can even customize Firefox and other programs themselves.
									</p>
								</div>
								
								<div class="author">
									by <a href="#">Filiberto Mastrocola</a>
								</div>
								
								<div class="meta">
									<p class="users">
										9,999,999 users
									</p>
								</div>
							</div>
						</div>
					</li><!--
					
					--><li>
						<div class="extension">
							<div class="main">
								<p class="icon"><img src="static/img/icons/featured-06.png" /></p>
								<p class="title"><a href="detail.html">Search Tabs - get Faceboo...</a></p>
								<p class="category">Search Tools</p>
								<p class="rating"><span class="rating-stars rating-4"></span> (30)</p>
							</div>
							
							<div class="more">
								<div class="install">
									<a class="button small install" href="#"><span>Add to Firefox</span></a>
								</div>
								
								<div class="desc">
									<p>
										Get search results from your Gmail, Facebook, Dropbox, LinkedIn accounts and more, on the right-hand side of the Google search results page. Add Wikipedia, Twitter and many more to personalize your search as you like it.
									</p>
								</div>
								
								<div class="author">
									by <a href="#">Filiberto Mastrocola</a>
								</div>
								
								<div class="meta">
									<p class="users">
										9,999,999 users
									</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>


		<section id="up-and-coming" class="island">
			<header>
				<h2>
					Up &amp; Coming Extensions
					<!-- <a href="#">See all &raquo;</a> -->
				</h2>
				
				<div class="pager">
					<!--
					--><a class="prev" href="#" title="Previous page">Prev</a><!--
					--><a class="selected" href="#">1</a><!--
					--><a href="#">2</a><!--
					--><a href="#">3</a><!--
					--><a class="next" href="#" title="Next page">Next</a><!--
					-->
				</div>
			</header>
			
			<div class="pages">
				<ul class="page">
					<!--
					--><li>
						<div class="extension">
							<div class="main">
								<p class="icon"><img src="static/img/icons/unc-01.png" /></p>
								<p class="title"><a href="detail.html">Persona Rotator</a></p>
								<p class="category">Appearance</p>
								<p class="rating"><span class="rating-stars rating-4"></span> (30)</p>
							</div>
							
							<div class="more">
								<div class="install">
									<a class="button small install" href="#"><span>Add to Firefox</span></a>
								</div>
								
								<div class="desc">
									<p>
										Personas Rotator is a new companion for Personas Firefox add-on to change your beloved Personas skins periodically on Firefox. What Will Your Browser Wear Now?
									</p>
								</div>
								
								<div class="author">
									by <a href="#">Filiberto Mastrocola</a>
								</div>
								
								<div class="meta">
									<p class="users">
										9,999,999 users
									</p>
								</div>
							</div>
						</div>
					</li><!--
					
					--><li>
						<div class="extension">
							<div class="main">
								<p class="icon"><img src="static/img/icons/unc-02.png" /></p>
								<p class="title"><a href="detail.html">Tab Mix Plus</a></p>
								<p class="category">Tabs</p>
								<p class="rating"><span class="rating-stars rating-4"></span> (30)</p>
							</div>

							<div class="more">
								<div class="install">
									<a class="button small install" href="#"><span>Add to Firefox</span></a>
								</div>
								
								<div class="desc">
									<p>
										Tab Mix Plus enhances Firefox's tab browsing capabilities. It includes such features as duplicating tabs, controlling tab focus, tab clicking options, undo closed tabs and windows, plus much more. It also includes a full-featured session manager.
									</p>
								</div>
								
								<div class="author">
									by <a href="#">Filiberto Mastrocola</a>
								</div>
								
								<div class="meta">
									<p class="users">
										9,999,999 users
									</p>
								</div>
							</div>
						</div>
					</li><!--
					
					--><li>
						<div class="extension">
							<div class="main">
								<p class="icon"><img src="static/img/icons/unc-03.png" /></p>
								<p class="title"><a href="detail.html">Fire.fm</a></p>
								<p class="category">Photos, Music &amp; Video</p>
								<p class="rating"><span class="rating-stars rating-4"></span> (30)</p>
							</div>

							<div class="more">
								<div class="install">
									<a class="button small install" href="#"><span>Add to Firefox</span></a>
								</div>
								
								<div class="desc">
									<p>
										Enables direct Last.fm radio streaming where available, directly from your toolbar or add-on bar. Discover new music and artists while listening to the music you love!
									</p>
								</div>
								
								<div class="author">
									by <a href="#">Filiberto Mastrocola</a>
								</div>
								
								<div class="meta">
									<p class="users">
										9,999,999 users
									</p>
								</div>
							</div>
						</div>
					</li><!--
					
					--><li>
						<div class="extension">
							<div class="main">
								<p class="icon"><img src="static/img/icons/unc-04.png" /></p>
								<p class="title"><a href="detail.html">Kid Mode - Firefox for Kids</a></p>
								<p class="category">Privacy &amp; Security</p>
								<p class="rating"><span class="rating-stars rating-4"></span> (30)</p>
							</div>

							<div class="more">
								<div class="install">
									<a class="button small install" href="#"><span>Add to Firefox</span></a>
								</div>
								
								<div class="desc">
									<p>
										When your kids want to play online, put Firefox into Kid Mode! Protect your computer and delight your kid with a safe environment that's filled with fun and learning. Zoodles Kid Mode makes it easy for kids 8 and under to independently play online.
									</p>
								</div>
								
								<div class="author">
									by <a href="#">Filiberto Mastrocola</a>
								</div>
								
								<div class="meta">
									<p class="users">
										9,999,999 users
									</p>
								</div>
							</div>
						</div>
					</li><!--
					
					--><li>
						<div class="extension">
							<div class="main">
								<p class="icon"><img src="static/img/icons/unc-05.png" /></p>
								<p class="title"><a href="detail.html">Scrapbook</a></p>
								<p class="category">Download Management</p>
								<p class="rating"><span class="rating-stars rating-4"></span> (30)</p>
							</div>

							<div class="more">
								<div class="install">
									<a class="button small install" href="#"><span>Add to Firefox</span></a>
								</div>
								
								<div class="desc">
									<p>
										Helps you to save Web pages and organize the collection.
									</p>
								</div>
								
								<div class="author">
									by <a href="#">Filiberto Mastrocola</a>
								</div>
								
								<div class="meta">
									<p class="users">
										9,999,999 users
									</p>
								</div>
							</div>
						</div>
					</li><!--
					
					--><li>
						<div class="extension">
							<div class="main">
								<p class="icon"><img src="static/img/icons/unc-06.png" /></p>
								<p class="title"><a href="detail.html">Feedly</a></p>
								<p class="category">Feeds, News &amp; Blogging</p>
								<p class="rating"><span class="rating-stars rating-4"></span> (30)</p>
							</div>

							<div class="more">
								<div class="install">
									<a class="button small install" href="#"><span>Add to Firefox</span></a>
								</div>
								
								<div class="desc">
									<p>
										Feed your mind. A magazine-like start page based on the best content of your favorite websites. Powered by Google Reader and Twitter.
									</p>
								</div>
								
								<div class="author">
									by <a href="#">Filiberto Mastrocola</a>
								</div>
								
								<div class="meta">
									<p class="users">
										9,999,999 users
									</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>


		<section id="featured-themes" class="island">
			<header>
				<h2>
					Featured Personas
					<a href="#">See all &raquo;</a>
				</h2>
				
				<div class="pager">
					<!--
					--><a class="prev" href="#" title="Previous page">Prev</a><!--
					--><a class="selected" href="#">1</a><!--
					--><a href="#">2</a><!--
					--><a href="#">3</a><!--
					--><a class="next" href="#" title="Next page">Next</a><!--
					-->
				</div>
			</header>
			
			<div class="pages">
				<ul class="page threecol">
					<!--
					{% for persona in page.featured-personas %}
					--><li>
						<div class="persona">
							<div class="main">
								<p class="preview"><img src="static/img/icons/{{ persona.icon }}" /></p>
								<p class="title"><a href="detail.html">{{ persona.name }}</a></p>
							</div>

							<div class="more">
								<div class="users">9,999,999 users</div>
							</div>
						</div>
					</li><!--
					{% endfor %}
					-->
				</ul>
			</div>
		</section>


		<section id="featured-collections" class="island">
			<header>
				<h2>
					Featured Collections
					<a href="#">See all &raquo;</a>
				</h2>
				
				<div class="pager">
					<!--
					--><a class="prev" href="#" title="Previous page">Prev</a><!--
					--><a class="selected" href="#">1</a><!--
					--><a href="#">2</a><!--
					--><a href="#">3</a><!--
					--><a class="next" href="#" title="Next page">Next</a><!--
					-->
				</div>
			</header>

			<div class="pages">
				<ul class="page">
					<!--
					{% for coll in page.featured-colls %}
					--><li>
						<div class="collection">
							<div class="main">
								<p class="icon"><img src="static/img/icons/{{ coll.icon }}" /></p>
								<p class="title"><a href="detail.html">{{ coll.name }}</a></p>
								<p class="mini-desc">{{ coll.mini-desc }}</p>
							</div>
							
							<div class="more">
								<p class="desc">{{ coll.desc }}</p>
								
								<div class="author">
									by <a href="#">{{ coll.author }}</a>
								</div>
								
								<ul class="meta">
									<!--
									--><li class="count">10 add-ons</li><!--
									--><li class="followers">400 followers</li><!--
									-->
								</ul>
							</div>
						</div>
					</li><!--
					{% endfor %}
					-->
				</ul>
			</div>
		</section>
	</div>
</div>


</div></div>

