<nav class="paginator">
	<p class="pos">Showing 1-20 of 3,000</p>
	<p class="rel">
		<!--
		--><span class="disabled small" title="Go to the first page">&#x25C2;&#x25C2;</span><!--
		--><span class="disabled button small">&#x25C2; Previous</span><!--
		--><a class="button small" href="#">Next Page &#x25B8;</a><!--
		--><a class=" small" href="#" title="Go to the last page">&#x25B8;&#x25B8;</a><!--
		-->
	</p>
	<p class="feed">
		<a href="#" title="Subscribe to a RSS feed of this page">Subscribe</a>
	</p>
</nav>
