<!DOCTYPE html>
<html class="no-js {{ page.page-class }}">

<script type="text/javascript">
	(function(d) {
		d.className = d.className.replace(/\bno-js\b/, 'js');
	})(document.documentElement);
</script>

<head>
	<title>{{ page.title }}</title>
	<link rel="shortcut icon" href="static/favicon.ico" />
	<link rel="stylesheet" href="static/reset.min.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="static/style.css" type="text/css" media="screen" />
</head>

<body>


<header id="global-header"><div class="funnel">
	<a id="mozilla-tab" href="#">Mozilla</a>
	
	<div class="menu">
		<p>
			<a href="#">Register</a>
			or
			<a href="#">Log in</a>
		</p>

		<p>
			<a href="#">Other Applications</a>
		</p>
</div></header>


<header id="site-header"><div class="funnel">
	<h1>
		<a href="index.html">Add-ons <span></span></a>
	</h1>
	
	<form id="site-search" method="get" action="search.html">
		<input type="text" placeholder="Search for Add-ons"></input>
		<button>Search</button>
	</form>
	
	<nav id="site-nav">
		<ul>
			<!--
			--><li><!--
				--><a class="top-menu" href="category.html">Extensions</a><!--
				--><ul class="submenu two-col">
					<!--
					--><li><a class="em" href="leaderboard.html">Featured</a></li><!--
					--><!-- <li><a class="em" href="leaderboard.html">Up &amp; Coming</a></li> --><!--
					--><li><a class="em" href="leaderboard.html">Most Popular</a></li><!--
					--><li><a class="em" href="leaderboard.html">Top Rated</a></li><!--
					
					--><li><a href="category.html">Abstract</a></li><!--
					--><li><a href="category.html">Appearance</a></li><!--
					--><li><a href="category.html">Bookmarks</a></li><!--
					--><li><a href="category.html">Download Management</a></li><!--
					--><li><a href="category.html">Feeds, News &amp; Blogging</a></li><!--
					--><li><a href="category.html">Games &amp; Entertainment</a></li><!--
					--><li><a href="category.html">Language Support</a></li><!--
					--><li><a href="category.html">Photos, Music &amp; Video</a></li><!--
					--><li><a href="category.html">Privacy &amp; Security</a></li><!--
					--><li><a href="category.html">Shopping</a></li><!--
					--><li><a href="category.html">Social &amp; Communication</a></li><!--
					--><li><a href="category.html">Tabs</a></li><!--
					--><li><a href="category.html">Web Development</a></li><!--
					--><li><a href="category.html">Other</a></li><!--
					-->
				   </ul><!--
			   --></li><!--
			--><li class="sep"></li><!--
			--><li><!--
				--><a class="top-menu" href="category.html">Personas</a><!--
				--><ul class="submenu two-col">
					<!--
					--><li><a class="em" href="leaderboard.html">Featured</a></li><!--
					--><!-- <li><a class="em" href="leaderboard.html">Up &amp; Coming</a></li> --><!--
					--><li><a class="em" href="leaderboard.html">Most Popular</a></li><!--
					--><li><a class="em" href="leaderboard.html">Top Rated</a></li><!--
					
					--><li><a href="category.html">Abstract</a></li><!--
					--><li><a href="category.html">Causes</a></li><!--
					--><li><a href="category.html">Fashion</a></li><!--
					--><li><a href="category.html">Film and TV</a></li><!--
					--><li><a href="category.html">Firefox</a></li><!--
					--><li><a href="category.html">Foxkeh</a></li><!--
					--><li><a href="category.html">Holiday</a></li><!--
					--><li><a href="category.html">Music</a></li><!--
					--><li><a href="category.html">Nature</a></li><!--
					--><li><a href="category.html">Other</a></li><!--
					--><li><a href="category.html">Scenery</a></li><!--
					--><li><a href="category.html">Seasonal</a></li><!--
					--><li><a href="category.html">Solid</a></li><!--
					--><li><a href="category.html">Sports</a></li><!--
					--><li><a href="category.html">Websites</a></li><!--
					-->
				   </ul><!--
			   --></li><!--
			--><li class="sep"></li><!--
			--><li><!--
				--><a class="top-menu" href="category.html">Themes</a><!--
				--><ul class="submenu two-col">
					<!--
					--><li><a class="em" href="leaderboard.html">Featured</a></li><!--
					--><li><!-- <a class="em" href="leaderboard.html">Up &amp; Coming</a></li> --><!--
					--><li><a class="em" href="leaderboard.html">Most Popular</a></li><!--
					--><li><a class="em" href="leaderboard.html">Top Rated</a></li><!--
					
					--><li><a href="category.html">Animals</a></li><!--
					--><li><a href="category.html">Compact</a></li><!--
					--><li><a href="category.html">Large</a></li><!--
					--><li><a href="category.html">Modern</a></li><!--
					--><li><a href="category.html">Nature</a></li><!--
					--><li><a href="category.html">OS Integration</a></li><!--
					--><li><a href="category.html">Retro</a></li><!--
					--><li><a href="category.html">Sports</a></li><!--
					--><li><a href="category.html">Miscellaneous</a></li><!--
					-->
				   </ul><!--
			--></li><!--
			--><li class="sep"></li><!--
			--><li><!--
				--><a class="top-menu" href="category.html">Collections</a><!--
				--><ul class="submenu">
					<!--
					--><li><a href="leaderboard.html">Featured</a></li><!--
					--><li><a href="leaderboard.html">Most Popular</a></li><!--
					--><li><a href="leaderboard.html">Top Rated</a></li><!--
					--><li class="sep"></li><!--
					--><li><a href="leaderboard.html">Collections I've Made</a></li><!--
					--><li><a href="leaderboard.html">Collections I'm Following</a></li><!--
					--><li><a href="leaderboard.html">My Favorite Add-ons</a></li><!--
					-->
				   </ul><!--
			   --></li><!--
			--><li class="sep"></li><!--
			--><li><!--
				--><span class="top-menu">More&hellip;</span><!--
				--><ul class="submenu">
					<!--
					--><li><a href="leaderboard.html">Dictionaries &amp; Language Packs</a></li><!--
					--><li><a href="leaderboard.html">Plugins</a></li><!--
					--><li><a href="leaderboard.html">Search Tools</a></li><!--
					--><li><a href="leaderboard.html">Developer Hub</a></li><!--
					-->
				   </ul><!--
			--></li><!--
			-->
		</ul>
	</nav>

	<form id="site-nav-search" method="get" action="search.html">
		<input type="text" placeholder="Search for Add-ons" value="{{ page.search-query }}"></input>
		<span class="submit">
			<button class="button small"><span>Search</span></button>
		</span>
		
		<div id="site-search-suggestions"><div class="wrap">
			<span class="stem"></span>
			<ul>
				<li><a class="search sel" href="search.html">Search add-ons for <strong>"<span class="val">video</span>"</strong></a></li>
				<li><a class="cat" href="category.html">Photos, Music &amp; <strong>Vid</strong>eos</a></li>
				<li><a class="ext" href="detail.html" style="background-image: url(static/img/icons/featured-01.png)" ><strong>Vid</strong>eo DownloadHelper</a></li>
				<li><a class="ext" href="detail.html" style="background-image: url(static/img/icons/featured-02.png)" >Flash <strong>Vid</strong>eo Downloader</a></li>
				<li><a class="ext" href="detail.html" style="background-image: url(static/img/icons/featured-03.png)" >Download Flash and <strong>Vid</strong>eo</a></li>
				<li><a class="ext" href="detail.html" style="background-image: url(static/img/icons/featured-04.png)" ><strong>Video</strong>Surf <strong>Vid</strong>eos at a Glance</a></li>
			</ul>
		</div></div>
	</form>
	
	<div id="site-nonfx" class="site-balloon">
		<b><em></em></b>
		
		<h3>Aren't you forgetting something?</h3>
		
		<p>
			To use the thousands of add-ons available here, download 
			<a href="#">Mozilla Firefox</a>
			&mdash; a fast, free Web browser.
		</p>
		
		<a class="close" href="#">Close</a>
	</div>
	
	<div id="site-welcome" class="site-balloon">
		<b><em></em></b>
		
		<h3>Welcome to Firefox Add-ons.</h3>
		
		<p>
			Choose from thousands of extra features and styles for Firefox.
			<a href="#">Learn more&hellip;</a>
		</p>

		<a class="close" href="#">Close</a>
	</div>
	
	<div id="site-mobiswitch" class="site-balloon">
		<b><em></em></b>
		
		<h3>On the go?</h3>
		
		<p>
			Check out our new  
			<a href="#">Mobile Add-ons site<span></span></a>.
		</p>
		
		<a class="close" href="#">Close</a>
	</div>
	
	{% if page.breadcrumbs %}
	<nav id="site-breadcrumbs">
		<a href="index.html">Add-ons</a>
		<b>&raquo;</b>
		<a href="#">Extensions</a>
		<b>&raquo;</b>
		<span>Add-on Title</span>
	</nav>
	{% endif %}

</div></header>


{{ content }}


<script type="text/javascript" src="static/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="static/script.js"></script>

</body>

</html>
